<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="card" style="margin: auto;">
            <div class="card-body">
                <h2 class="card-title">Password Assistance</h2>
                <p class="card-text">To reset your password, please click the link below.</p>
                <a href={{url}}>{{url}}</a>
                <p>If you fail to activate within 24 hours, please start from the beginning once again.</p>
                <p>If clicking the link above doesn't seem to work, you can copy and 
                    paste the link into your browser's address window, or retype it there.</p>
                <p>Thank you</p>
                <p>-------------------------------------------</p>
                <p>iLearn Africa (Kampala Office)</p>
                <p>Phone : </p>
                <p>-------------------------------------------</p>
            </div>
    </div>
</body>
</html>
